<h1 class="main-h1-title">All Posts</h1>
<% @posts.each do |post| %>
  <div class="panel panel-default">
    <h2 class="post-title"><%= link_to post.title, post_path(post) %></h2>
    <div class="clearfix">
      <small class="post-time"><%= post.created_at.to_date %></small>
      <p class="author">Author</p>
    </div>
    <div class="panel-body">
      <%= post.body %>
    </div>
</div>
<% end %>
