@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Balthazar);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
}

.main-h1-title {
  color: #343430;
  font-family: 'Balthazar', serif;
}
.post-title {
  text-transform: capitalize;
  text-align: center;
  a {
    color: #69695F;
    font-size: 24px;
    font-family: 'Balthazar', serif;
  }
}
.show-post-title {
  font-family: 'Balthazar', serif;
  text-transform: capitalize;
  color: #69695F;
  font-size: 30px;
}

.author {
  font-size: 15px;
  float: right;
  margin-right: 10%;
  color: #4C4C33;
  text-decoration: underline;
}
.comment {
  background-color: #D4D4CA;
  margin: 5px 5px 5px 0;
  padding: 10px 5px;
  min-height: 70px;
}
.comment2 {
  margin-left: 60px;
}
.comment-user {
  float: right;
  margin: 0px 5px 0 0;
}
.comment-section {
  border-left: 1px dashed #A4A4A4;
}
.post-time {
  margin-left: 10%;
}
.main-content {
  margin: 30px 0;
}
.report-form {
  width: 200px;
  float: right;
  background-color: #FF8000;
  input {
    margin: 10%;
    width: 80%;
    border-radius: 0;
    font-size: 12px;
  }
  label {
    font-size: 12px;
    margin: 10%;
  }
}
.reported {
  background-color: #FA5858;
  opacity: 0.7;
  text-shadow: 0 0 5px #69695F;
}
.raty-cancel {
  display: none;
}
